@model SandwichChoices.net.Models.Sandwich

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sandwich</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ingredients)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ingredients)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FlavourRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FlavourRating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InventedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InventedBy)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
